// Header 
header.header-default
  .container
    .navbar
      .navbar-header
        a(href="index.html").navbar-header__brand: img(src="img/logo.png", alt="") 
        a(href="tel:+37360888533").navbar__tel + 373 60 888 533 
        button.navbar__toggle: i.fa.fa-bars
      .navbar-content
        nav.navbar-content__left
          ul
            +item('Главная', 'index.html')
            +item('Исполнители', 'executors.html')
            +item('Форум', 'forum.html')
        nav.navbar-content__right
          button.btn.btn-main.popup-form(href="#login") Войти
          button.btn.btn-main.popup-form(href="#registration") Регистрация
          .dropdown
            button.btn.btn-lang(data-toggle="dropdown") RU
            ul.dropdown-menu
              li.active: a(href="") RU
              li: a(href="") MD
// End Header 
