.cabinet {

  &-page {
    padding-top: 40px;
  }

  &-user {
    padding: 20px;
    width: 100%;

    &__image {
      position: relative;

      img {
        display: block;
        width: 100%;
        border-radius: 100%;
      }

      .edit {
        width: 32px;
        height: 32px;
        border-radius: 100%;
        position: absolute;
        top: 0;
        right: 0;
        background-color: $c_cyan;

        input {
          display: none !important;
        }

        label {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          border-radius: 100%;
          cursor: pointer;          
          font-size: 16px;
          line-height: 1;
          padding: 8px;
          text-align: center;
          color: #fff;
          transform: perspective(1px) translateZ(0);
          
          &:hover {
            animation-name: buzz-out;
            animation-duration: 0.75s;
            animation-timing-function: linear;
            animation-iteration-count: 1;
          }

        }
        
      }
    }

    &__row {
      margin-bottom: 30px;
      color: #ffffff;
      display: flex;
      align-items: center;

      &:last-child {
        margin-bottom: 0;
      }

      label {
        order: 1;
        flex: none;
        width: 240px;
        font-size: 20px;
        font-weight: 600;
        padding-left: 20px;
        transition: .3s ease-in-out;

      }

      input {
        order: 2;
        height: 40px;
        border-radius: 5px;
        padding: 0 15px;
        color: $c_dark;
        border: 1px solid #fff;
        width: 100%;
        transition: .3s ease-in-out;
        font-size: 16px;
        font-weight: 300;

        &:focus {
          font-size: 18px;
          font-weight: 600;

          + label {
            color: $c_cyan;
          }
        }
      }

      &.field-error input {border: 1px solid #c33;}

    }





  }

  &-info {
    display: flex;
    margin-bottom: 40px;

    &__title {
      flex: none;
      width: 230px;
      font-size: 20px;
      font-weight: 600;
    }

    &__content {
      flex:1;
      font-size: 16px;
      line-height: 20px;

      p {
        margin: 0 0 20px;
      }

      .btn-main {
        font-size: 18px;
        padding: 10px 30px;
      }
    
      textarea {
        width: 100%;
        resize: none;
        display: block;
        padding: 15px;
        font-size: 16px;
        line-height: 20px;
        border: 1px solid $c_light;
        border-radius: 5px;
        height: 210px;
      }

      .portfolio {
        margin: 0 -5px;
        padding: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;

        li {
          padding: 0 5px;
          margin-bottom: 10px;
          position: relative;

          .delete {
            position: absolute;
            right: 5px;
            top: 0;
            padding: 5px;
            background-color: rgba(#fff, .9);
            width: 24px;
            height: 24px;
            text-align: center;
            line-height: 24px;
            font-size: 12px;
            color: $c_dark;
            cursor: pointer;
            transition: $transition;
            opacity: 0;

            &:hover {
              color: #c33;
            }
            
            .fa {
              display: block;
            }
          }

          &:hover .delete {
            opacity: 1;
          }

          a {
            opacity: 1;
            &:hover {
              opacity: 0.5;  
            }
          }

          &.edit {
            input {
              display: none !important;
            }

            label {
              display: flex;
              align-items: center;
              justify-content: center;
              text-align: center;
              color: $c_cyan;
              font-size: 24px;
              width: 100px;
              height: 100px;
              border: 3px solid $c_cyan;
              cursor: pointer;
              
              .fa {
                transform: perspective(1px) translateZ(0);
              }
              &:hover .fa {
                animation-name: buzz-out;
                animation-duration: 0.75s;
                animation-timing-function: linear;
                animation-iteration-count: 1;
              }
            }
          }
        }
      }
    }
  }

}

@media #{$mobile-screen} {
  .cabinet-user__image img {margin-bottom: 30px;}
  .cabinet-user__row {
    flex-direction: column;
    
    label {
      font-size: 16px;
      width: 100%;
      padding: 0 0 10px;
    }
  }

  .cabinet-info {
    display: block;
  }
  .cabinet-info__title {
    margin-bottom: 10px;
  }
}