/* Styles for dialog window */
.dialog {
  background: #1f2627;
  padding: 40px 60px;
  text-align: left;
  max-width: 455px;
  margin: 40px auto;
  position: relative;
  border: 8px solid $c_cyan;

  &#request, &#categories {
    max-width: 620px;
  }

  .mfp-close {
    opacity: .5;
    width: 24px;
    height: 24px;
    line-height: 24px;
    transition: .3s ease-in-out;
    top: 10px;
    right: 10px;

    &:before, &:after {
      display: block;
      content: '';
      background-color: #fff;
      transform: rotate(45deg);
      position: absolute;
      transition: .3s ease-in-out;
    }

    &:before {
      height: 2px;
      width: 100%;
      left: 0;
      top: 50%;
      margin-top: -1px;
    }
    &:after {
      width: 2px;
      height: 100%;
      top: 0;
      left: 50%;
      margin-left: -1px;
    }

    &:hover {
      opacity: 1;

      &:before, &:after {
        background-color: #c33;
      }
    }


  }

  &.users-forms {
    text-align: center;
  }

  h1 {
    margin: 0 0 40px;
    padding: 0 0 40px;
    position: relative;
    text-align: center;
    font-size: 36px;
    line-height: 1;
    font-weight: 900;
    color: #fff;

    &:after {
      display: block;
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -22px;
      width: 44px;
      height: 5px;
      background-color: $c_yellow;
    }
  }

  p {
    margin: 0 0 40px;
    color: #fff;
    font-size: 18px;
      text-align: center;

    .fa {
      margin-right: 10px;
    }
  }

  &-form {
    text-align: center;

    a {
      color: $c_cyan;
      font-size: 18px;
      text-decoration: none;

      &:hover {
        color: $c_yellow;
      }
    }


    .input-row {
      margin-bottom: 20px;

      input, textarea {
        display: block;
        width: 100%;
        height: 50px;
        border-radius: 5px;
        border: 2px solid #fff;
        text-align: center;
        padding: 0 15px;
        font-size: 18px;
      }

      &.field-error {
        input, textarea {
          border: 2px solid #c33;
        }
      }

      textarea {
        height: 200px;
        resize: none;
        padding: 10px 15px;
      }

      .btn {
        height: 50px;
        font-size: 20px;
        font-weight: 900;
      }

      .radio-tabs {
        display: flex;
        padding-bottom: 15px;

        input {
          display: none;

          & + label {
            display: block;
            flex: 1;
            text-align: center;
            line-height: 20px;
            padding: 15px;
            background-color: #000;
            color: #fff;
            font-size: 18px;
            font-weight: 300;
            border-radius: 5px 0 0 5px;
            transition: .3s ease-in-out;
            cursor: pointer;

            &:last-child {
              border-radius: 0 5px 5px 0;
            }
          }

          &:checked + label {
            background-color: $c_cyan;
          }

          & + label:hover {
            opacity: .75;
          }
        }
      }

      .nice-select {
        width: 100%;
        height: 50px;
        padding: 15px 20px;
        line-height: 20px;
        border: none !important;
        float: none !important;

        .list {width: 100%;}

        .current {
          font-size: 18px;
          color: $c_dark;

          &:before {
            font-family: 'FontAwesome';
            content: '\f0c9';
            color: $c_light;
            margin-right: .5em;
          }
        }

        &:after {
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 5px 4px 0 4px;
          border-color: $c_dark transparent transparent;
          transform: rotate(0deg);
          right: 15px;
          transform-origin: center center;
        }

        &.open::after {
          transform: rotate(180deg);
        }
      }

      .checkbox {
        margin-bottom: 20px;

        &.last {margin-bottom: 60px;}
        
        input {
          display: none;

          + label {
            display: flex;
            align-items: center;
            text-align: left;
            cursor: pointer;
            line-height: 1.2;
            font-size: 16px;
            color: #fff;

            &:before {
              font-family: 'FontAwesome';
              content: '\f00c';
              display: block;
              flex: none;
              width: 30px;
              height: 30px;
              text-align: center;
              line-height: 30px;
              background-color: #fff;
              border-radius: 5px;
              margin-right: 15px;
              transition: .3s ease-in-out;
              color: #fff;
            }

            &:hover:before {
              color: $c_light
            }
          }

          &:checked + label:before {
            color: $c_cyan;
          }
        }
      }






    }
  }

}

#request input, #request textarea {
  text-align: left;
}

@media #{$mobile-screen} {
  body {
    overflow-x: hidden !important;
  }
  .dialog {padding: 40px 15px 30px;}
  .dialog h1 {
      margin: 0 0 20px;
      padding: 0 0 20px;
      font-size: 24px;
  }
  .dialog-form .input-row .radio-tabs input + label {font-size: 14px;}
}