.portfolio{
  background: #fff url(../img/bg_portfolio.jpg) no-repeat center center;
  padding: 60px 0;

  &-slider {
    .owl-nav {
      position: absolute;
      top: 0;
      right: 0;

      .owl-prev, .owl-next {
        transition: .3s ease-in-out;
        display: inline-block;
        font-family: 'FontAwesome';
        width: 30px;
        height: 30px;
        background-color: $c_blue;
        margin: 0 0 0 5px;
        line-height: 30px;
        font-size: 16px;
        text-align: center;
        color: #fff;
        cursor: pointer;

        &:hover {
          background-color: $c_cyan;
        }
      }
    }

    .owl-dots {
      position: absolute;
      right: 15px;
      bottom: 33px;

      .owl-dot {
        display: inline-block;
        width: 15px;
        height: 15px;
        border-radius: 100%;
        background-color: #fff;
        margin-left: 5px;
        cursor: pointer;
        transition: .3s ease-in-out;

        &:hover, &.active {
          opacity: .75;
        }
      }
    }

    &__item {
      &-header {
        margin-bottom: 10px;
        font-size: 30px;
        color: $c_light;
        line-height: 30px;
        height: 30px;
      }

      &-body {
        padding: 0 10px;
      }

      &-footer {

        h4 {
          background-color: $c_cyan;
          margin: 0;
          padding: 0 15px;
          line-height: 30px;
          font-weight: 300;
          color: #fff;
          margin-bottom: 10px;
        }

        p {
          color: $c_light;
          font-size: 16px;
          margin: 0;
          padding: 0;
          line-height: 20px;
          height: 20px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }

      &-thumb {
        display: block;
        margin: 0 -10px 10px;

        &:hover {
          opacity: .75;
        }



        img {
          width: 100%;
        }
      }
    }
  }
}