extends layouts/inside
block vars
  - active__menu = 'Форум'
block header
  include inc/header2
block main
  main.forum-page
    .forum-page__header
      .container
        form.validate-form(action="")
          .row
            .col.md-6.offset-md-3.sm-8.offset-sm-2
              h1.forum-page__title: span Задать вопрос
            .col.sm-6
              select
                option категория 1
                option категория 2
                option категория 3
                option категория 4
                option категория 5
                option категория 6
                option категория 7
                option категория 8
                option категория 9
            .col.sm-6
              input(type="text", name="forum-message-subject", placeholder="Заголовок", required)
            .col.sm-12
              textarea(placeholder="Вопрос", name="forum-message", cols="30", rows="10", required)
            .col.sm-4.offset-sm-4
              button.btn.btn-main.btn-block(type="submit") Задать вопрос
    .forum-page__filter
      .container
        .row
          .col.md-8
            select
              option Выбрать категорию
              option категория 1
              option категория 2
              option категория 3
              option категория 4
              option категория 5
              option категория 6
              option категория 7
              option категория 8
              option категория 9

    .inside-page__bg
      .container
        .card.forum-item
          a(href="single.html").forum-item__link
          .card-header
            img(src="img/avatar.jpg", alt="").autor__avatar
            .forum-item__info
              span.forum-item__time 
                span 22.05.2017
                span 10:55
              span.forum-item__autor Константин Константинопольский
            .forum-item__comments
              i.fa.fa-comment
              span 5 ответов
          .card-body
            .forum-item__title Сколько длится ремонт в ванной комнате?
            .forum-item__text Подскажите, пожалуйста, сколько длится ремонт в ванной комнате? Также буду признательна за указание стоимости работ и контактов. Площадь ванной 5m2. Спасибо!
        .card.forum-item
          a(href="single.html").forum-item__link
          .card-header
            img(src="img/avatar.jpg", alt="").autor__avatar
            .forum-item__info
              span.forum-item__time 
                span 22.05.2017
                span 10:55
              span.forum-item__autor Константин Константинопольский
            .forum-item__comments
              i.fa.fa-comment
              span 5 ответов
          .card-body
            .forum-item__title Сколько длится ремонт в ванной комнате?
            .forum-item__text Подскажите, пожалуйста, сколько длится ремонт в ванной комнате? Также буду признательна за указание стоимости работ и контактов. Площадь ванной 5m2. Спасибо!
        .card.forum-item
          a(href="single.html").forum-item__link
          .card-header
            img(src="img/avatar.jpg", alt="").autor__avatar
            .forum-item__info
              span.forum-item__time 
                span 22.05.2017
                span 10:55
              span.forum-item__autor Константин Константинопольский
            .forum-item__comments
              i.fa.fa-comment
              span 5 ответов
          .card-body
            .forum-item__title Сколько длится ремонт в ванной комнате?
            .forum-item__text Подскажите, пожалуйста, сколько длится ремонт в ванной комнате? Также буду признательна за указание стоимости работ и контактов. Площадь ванной 5m2. Спасибо!
        .card.forum-item
          a(href="single.html").forum-item__link
          .card-header
            img(src="img/avatar.jpg", alt="").autor__avatar
            .forum-item__info
              span.forum-item__time 
                span 22.05.2017
                span 10:55
              span.forum-item__autor Константин Константинопольский
            .forum-item__comments
              i.fa.fa-comment
              span 5 ответов
          .card-body
            .forum-item__title Сколько длится ремонт в ванной комнате?
            .forum-item__text Подскажите, пожалуйста, сколько длится ремонт в ванной комнате? Также буду признательна за указание стоимости работ и контактов. Площадь ванной 5m2. Спасибо!
        .card.forum-item
          a(href="single.html").forum-item__link
          .card-header
            img(src="img/avatar.jpg", alt="").autor__avatar
            .forum-item__info
              span.forum-item__time 
                span 22.05.2017
                span 10:55
              span.forum-item__autor Константин Константинопольский
            .forum-item__comments
              i.fa.fa-comment
              span 5 ответов
          .card-body
            .forum-item__title Сколько длится ремонт в ванной комнате?
            .forum-item__text Подскажите, пожалуйста, сколько длится ремонт в ванной комнате? Также буду признательна за указание стоимости работ и контактов. Площадь ванной 5m2. Спасибо!
        nav
          ul.pagination
            li.disabled: span «
            li.active: a(href='#') 1
            li: a(href='#') 2
            li: a(href='#') 3
            li: a(href='#') 4
            li: a(href='#') 5
            li: a(href='#') »
