block vars
include ../inc/nav
doctype html
html(lang="ru-RU")
  include ../inc/head
  body.inside-page
    block header
    // Main Content 
    block main
    // End Main Content 
        
    include ../inc/footer
    // Base Scripts 
    include ../inc/scripts